@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

.navbar ul{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    font-family: 'Montserrat';
    font-size: 25px;

}
a{
    text-decoration: none;
    color: black;

}
.navlink {
    display: inline-block;
    position: relative;
    padding-bottom: 5px;
}
  
.navlink::after {
    content: '';
    position: absolute;
    width: 100%;

    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: orange;

    transition: transform 0.25s ease-out;
  }
  
.navlink:hover::after {
    transform: scaleX(1);
  
  }

strong{
    display: block;
    overflow: hidden;
    border-right:  5px solid orange;
    white-space: nowrap;
    width: 0%;
    animation: typing 1s  1s forwards steps(20) ,
    blink 1s infinite;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 400;
}
@keyframes blink {
    from{border-color: transparent;}
    to{border-color: orange;}
}
@keyframes typing {
    from { width:  0 }
    to { width: 220px  }

}
.center{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
}