@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');
body{
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(6,13,92,1) 53%, rgba(97,9,246,1) 100%);
    height: 100vh;
    color: white;
}


.header{
    display: flex;
    flex-direction: column;
    width: fit-content;
    justify-content: space-evenly;
}

.navbar {
    display: flex;
    width: 100%;
    list-style-type: none;
    font-family: 'Montserrat';
    font-size: 1.5vw;
    margin-top: 10px;
    justify-content: space-evenly;

}
a{
    text-decoration: none;
    color: white;
}
.navlink {
    display: inline-block;
    position: relative;
    padding-bottom: 5px;
}
.navlink::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: orange;
    transition: transform 0.25s ease-out;
  }
  
.navlink:hover::after {
    transform: scaleX(1);
  }
strong{
    display: block;
    overflow: hidden;
    border-right:  5px solid orange;
    white-space: nowrap;
    width: 0%;
    animation: typing 1s  1s forwards steps(20) ,
    blink 1s infinite;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5vw;
    font-weight: 400;
    color: white;
}
@keyframes blink {
    from{border-color: transparent;}
    to{border-color: orange;}
}
@keyframes typing {
    from { width:  0 }
    to { width:220px }

}
.center{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

@media screen and (max-width:630px) {
    .navbar{
        font-size: 4.5vw;
      
    }
    strong{
        font-size: 3vw;
    }
    
}

