{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eddy BESSAH's Portfolio</title>
    <link rel="stylesheet" href="{%static 'index.css'%}">
</head>
<body>
    <div class="container">
        <h1>
            Eddy BESSAH
        </h1>
    </div>
 
    <nav class="navbar">
       
        <a class="navlink" href="/projects">Projects</a>
    
        <a class="navlink" href="/about">About</a>
    
        <a class="navlink" href="/contact">Contact</a>
    </nav>
   
</body>
</html>