{% extends "./navbar.html" %}
{% block title %} Eddy BESSAH {% endblock %}

{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'projects.css' %}">
{% endblock %}

{% block content %}
<div class="projects">    
    {% for project in latest_projects %}
    <section>
        <div class="container">
            <img src="{{project.get_thumbnail_img.img.url}}" class="image" alt="{{project.name}}">
            <div class="middle">
                <a href="/projects/{{project.id}}">{{project.name}}</a>
               
        
            </div>
        </div>
    
    </section>
   
    {% endfor %}

</div>
{% endblock %}
